# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("data/vehicles.csv")

In [9]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

How many Car models?

In [8]:
len(cars.groupby("Model"))

3608

group by the data by the Make  using count function

In [7]:
cars.groupby("Make").count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [16]:
cars.Make.mode()

0    Chevrolet
Name: Make, dtype: object

<b>show the average CO2_Emission_Grams/Km  by Brand

In [38]:
cars.groupby("Make")["CO2 Emission Grams/Mile"].mean().reset_index()

                            Make  CO2 Emission Grams/Mile
0                     AM General               611.358244
1               ASC Incorporated               555.437500
2                          Acura               422.585325
3                     Alfa Romeo               463.952115
4    American Motors Corporation               505.758823
..                           ...                      ...
122                   Volkswagen               392.741721
123                        Volvo               435.803755
124        Wallace Environmental               657.990029
125                         Yugo               356.068256
126                        smart               247.030556

[127 rows x 2 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [36]:
cars.groupby("Make")["CO2 Emission Grams/Mile"].mean().sort_values().reset_index()

                                   Make  CO2 Emission Grams/Mile
0                                Fisker               169.000000
1                                 smart               247.030556
2                                  Fiat               304.666560
3                              Daihatsu               310.188060
4                                  MINI               313.716862
..                                  ...                      ...
122              Laforza Automobile Inc               807.909091
123                             Bugatti               873.062500
124    Superior Coaches Div E.p. Dutton               888.700000
125  S and S Coach Company  E.p. Dutton               888.700000
126                              Vector              1049.159722

[127 rows x 2 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [39]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [46]:
pd.qcut(cars['Year'],4,retbins=True)

(0        (1983.999, 1991.0]
 1        (1983.999, 1991.0]
 2        (1983.999, 1991.0]
 3        (1983.999, 1991.0]
 4        (1983.999, 1991.0]
                 ...
 35947      (2010.0, 2017.0]
 35948      (2010.0, 2017.0]
 35949      (2010.0, 2017.0]
 35950      (2010.0, 2017.0]
 35951      (2010.0, 2017.0]
 Name: Year, Length: 35952, dtype: category
 Categories (4, interval[float64, right]): [(1983.999, 1991.0] < (1991.0, 2001.0] < (2001.0, 2010.0] < (2010.0, 2017.0]],
 array([1984., 1991., 2001., 2010., 2017.]))

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [49]:
cars.groupby(pd.qcut(cars['Year'],4))["City MPG"].mean().reset_index()

                 Year   City MPG
0  (1983.999, 1991.0]  17.232095
1    (1991.0, 2001.0]  16.959772
2    (2001.0, 2010.0]  16.955339
3    (2010.0, 2017.0]  19.744963

Which brands are more environment friendly?

In [51]:
cars.groupby([pd.qcut(cars['Year'],4),"Make"])["CO2 Emission Grams/Mile"].mean().sort_values().reset_index()

                   Year                         Make  CO2 Emission Grams/Mile
0      (2010.0, 2017.0]                       Fisker               169.000000
1      (2001.0, 2010.0]                        smart               246.861111
2      (2010.0, 2017.0]                        smart               247.103175
3    (1983.999, 1991.0]                     Daihatsu               304.661367
4      (2010.0, 2017.0]                         Fiat               304.666560
..                  ...                          ...                      ...
503    (2010.0, 2017.0]                       Vector                      NaN
504    (2010.0, 2017.0]          Vixen Motor Company                      NaN
505    (2010.0, 2017.0]  Volga Associated Automobile                      NaN
506    (2010.0, 2017.0]        Wallace Environmental                      NaN
507    (2010.0, 2017.0]                         Yugo                      NaN

[508 rows x 3 columns]

Does the drivetrain affect fuel consumption?

In [139]:
## Your Code here

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [80]:
## Your Code here

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [143]:
## your code is here

           City_Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [144]:
### your code is here

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857