## Instructions
It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

Set up the hypothesis test.
Write down all the steps followed for setting up the test.
Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [13]:
import math
import scipy.stats 
import pandas as pd

In [14]:
#define Ho and Ha

#Ho = 120    
#Ha != 120

pop_mean = 120
sample_mean = 130.1
sample_std = 21.21
sample_size=100

#calculate sample (test) statistics (where µ,∂ from population, x,n from sample)

t = (sample_mean-pop_mean)/(sample_std/math.sqrt(sample_size))

t

4.761904761904759

In [15]:
#Identify critical value using the t-student method (degree of freedom=99)

tc = +- scipy.stats.t.ppf(1-(0.05/2), df=99)

tc

-1.9842169515086827

In [16]:
# accept or reject null hypothesis

if abs(t) > abs(tc):
    print ("Ho is rejected")

Ho is rejected

## Optional

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

Hint: use two sample t-test

t= (sample_mean(x1) - sample_mean(x2)) / sqrt(square(s1)/n1 + square(s2)/n2 )

In [50]:
df=pd.read_fwf('Data/Data_Machine.txt')

df

   New_Machine  Old_Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [51]:
#Ho = New_Machine = Old_Machine
#Ha = New_Machine faster than Old_Machine

tc = +- scipy.stats.t.ppf(0.95, df=9)

In [52]:
sample_mean1 = df['New_Machine'].mean()

In [53]:
sample_mean2 = df['Old_Machine'].mean()

In [54]:
s1 = df['New_Machine'].std()

In [55]:
s2 = df['Old_Machine'].std()

In [56]:
n=len(df['New_Machine'])

In [57]:
t= (sample_mean1 - sample_mean2) / math.sqrt(pow(s1,2)/n + pow(s2,2)/n )

In [59]:
# accept or reject null hypothesis

if abs(t) > abs(tc):
    print ("Ho is rejected")

Ho is rejected