# morning sunshine

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/students.csv')

In [18]:
list_of_countries = df.country.unique().tolist()

In [25]:
x = round(len(list_of_countries)/2)

In [26]:
list_of_countries[0:x]

['Brazil', 'Canada', 'USA', 'Indonesia', 'Argentina', 'Poland']

In [27]:
df.loc[df['country'].isin(list_of_countries[0:x])]

     student_id student__first_name    country  age  has_rabbit
0             1               David     Brazil   31        True
1             2               Ahmet     Canada   20        True
2             3               Isaac        USA   20        True
3             4             Charlie  Indonesia   24        True
4             5               Isaac        USA   35        True
..          ...                 ...        ...  ...         ...
994         995               Ahmet     Brazil   38       False
996         997               Grace     Canada   23       False
997         998                Emma     Canada   26       False
998         999              Hannah     Brazil   24        True
999        1000               Frank        USA   33        True

[556 rows x 5 columns]