## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1=random.sample(range(0,100), 80) #gives 80 unique random values

sample_list_1

[79,
 60,
 19,
 61,
 6,
 37,
 15,
 68,
 87,
 69,
 51,
 97,
 8,
 9,
 59,
 98,
 63,
 29,
 40,
 92,
 10,
 39,
 2,
 65,
 95,
 96,
 70,
 73,
 42,
 66,
 30,
 76,
 55,
 25,
 99,
 89,
 44,
 22,
 88,
 75,
 56,
 5,
 77,
 91,
 24,
 72,
 7,
 85,
 33,
 49,
 83,
 67,
 12,
 86,
 14,
 53,
 32,
 0,
 20,
 26,
 54,
 38,
 35,
 17,
 84,
 50,
 23,
 80,
 48,
 90,
 13,
 82,
 71,
 18,
 28,
 1,
 52,
 31,
 4,
 62]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1=set((sample_list_1))

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
# Your code here
sample_list_2=[]

for n in range(80):
    sample_list_2.append(random.randrange(101))

len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2=set((sample_list_2))

print(len(set2))

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
set3=set1.difference(set2)

print(set3)

{0, 2, 6, 7, 10, 14, 15, 17, 20, 22, 24, 28, 33, 35, 40, 42, 51, 53, 56, 59, 60, 61, 63, 65, 68, 70, 71, 73, 75, 76, 77, 79, 86, 89, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4=set2.difference(set1)

print(set4)

{36, 41, 74, 11, 43, 57, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [25]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 4, 5, 8, 9, 12, 13, 18, 19, 23, 25, 26, 29, 30, 31, 32, 37, 38, 39, 44, 48, 49, 50, 52, 54, 55, 62, 66, 67, 69, 72, 80, 82, 83, 84, 85, 87, 88, 90, 91, 92, 95, 97, 98}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here